.choosenUl{
	list-style: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	*zoom: 1;
}
.choosenUl li{
	list-style: none;
	float: left;
}
/******************************************************
 *					floorplan   					  *
 ******************************************************/
.floorplan{
	background-image:url("../images/material/thumbnail/floorplan/FloorplanSprite.png");
}
.refrigerator{
	background-position:0px 2px;
}
.rug_circular{
	background-position:-30px 2px;
}
.rug_rectangular_L2{
	background-position:-60px 2px;
}
.rug_rectangular{
	background-position:-90px 2px;
}
.scanner{
	background-position:-120px 2px;
}
.shower_l3{
	background-position:-150px 2px;
}
.shower{
	background-position:-180px 2px;
}
.sideTable_l2{
	background-position:-210px 2px;
}
.singlebed{
	background-position:-240px 2px;
}
.sink_double{
	background-position:-270px 2px;
}
.sink_single2{
	background-position:-300px 2px;
}
.sink_single{
	background-position:-330px 2px;
}
.stool{
	background-position:-360px 2px;
}
.stove{
	background-position:-390px 2px;
}
.table2{
	background-position:-420px 2px;
}
.armoire{
	background-position:-450px 2px;
}
.bathtub{
	background-position:-482px 2px;
}
.bookcase{
	background-position:-510px 2px;
}
.chair_office{
	background-position:-543px 2px;
}
.chair{
	background-position:-570px 2px;
}
.table_10person{
	background-position:-600px 2px;
}
.table_3person{
	background-position:-630px 2px;
}
.table_4chairs{
	background-position:-660px 2px;
}
.table_6chairs{
	background-position:-690px 2px;
}
.table_6person{
	background-position:-720px 2px;
}
.table_circular{
	background-position:-750px 2px;
}
.table_coffee{
	background-position:-780px 2px;
}
.telephone{
	background-position:-810px 2px;
}
.tilefloor{
	background-position:-843px 2px;
}
.toilet{
	background-position:-873px 2px;
}
.tubeTV{
	background-position:-903px 2px;
}
.vending_machine{
	background-position:-933px 2px;
}
.video_projector{
	background-position:-964px 2px;
}
.video_screen{
	background-position:-994px 2px;
}
.washing_machine{
	background-position:-1023px 2px;
}
.watercooler{
	background-position:-1053px 2px;
}
.woodfloor{
	background-position:-1084px 2px;
}
.computer_CRT{
	background-position:-1114px 2px;
}
.computer_LCD{
	background-position:-1144px 2px;
}
.copier{
	background-position:-1174px 2px;
}
.couch{
	background-position:-1204px 2px;
}
.desk_lamp{
	background-position:-1234px 2px;
}
.desk_l{
	background-position:-1264px 2px;
}
.desk_metal_l{
	background-position:-1294px 2px;
}
.desk_metal{
	background-position:-1324px 2px;
}
.doublebed{
	background-position:-1354px 2px;
}
.dresser{
	background-position:-1384px 2px;
}
.drumset{
	background-position:-1414px 2px;
}
.dryer{
	background-position:-1445px 2px;
}
.fireplace_l1{
	background-position:-1474px 2px;
}
.fireplace{
	background-position:-1504px 2px;
}
.floorlamp{
	background-position:-1535px 2px;
}
.gas_furnace{
	background-position:-1564px 2px;
}
.lamp{
	background-position:-1595px 2px;
}
.laptop{
	background-position:-1624px 2px;
}
.lightwoodfloor{
	background-position:-1654px 2px;
}
.loveseat{
	background-position:-1684px 2px;
}
.office_desk{
	background-position:-1714px 2px;
}
.ottoman_l1{
	background-position:-1744px 2px;
}
.ottoman_l2{
	background-position:-1774px 2px;
}
.ottoman{
	background-position:-1804px 2px;
}
.piano{
	background-position:-1834px 2px;
}
.plant_l1{
	background-position:-1864px 2px;
}
.plant{
	background-position:-1894px 2px;
}
.pooltable{
	background-position:-1924px 2px;
}
.printer{
	background-position:-1954px 2px;
}
.queenbed{
	background-position:-1984px 2px;
}